apiVersion: v1
kind: Service
metadata:
  name: api-service # Frontend (Nginx) buraya istek atacak
spec:
  ports:
  - port: 8000
    targetPort: 8000
  selector:
    app: api
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: api
spec:
  replicas: 1 
  selector:
    matchLabels:
      app: api
  template:
    metadata:
      labels:
        app: api
    spec:
      containers:
      - name: api
        image: saitbutun/tech-arena-backend:v1 
        imagePullPolicy: Always
        env:
        - name: REDIS_HOST
          value: "redis-service" 
        resources:
          requests:
            memory: "64Mi"
            cpu: "100m"
        ports:
        - containerPort: 8000
        